<div>
  <ul class="os-key-values" ng-class="{'os-one-col': showColumn == 1, 'os-two-cols': showColumn == 2}">
    <li class="item" ng-repeat="field in data.fields | filter: {type: '!subForm'}">
      <strong class="key key-sm">{{field.caption}}</strong>
      <span class="value value-md">
        <span ng-include src="'modules/biospecimen/extensions/field-value.html'"></span>
      </span>
    </li>
  </ul>

  <div class="os-section" ng-repeat="sf in data.fields | filter: {type: 'subForm'}" 
    ng-init="sfCollapse=false" ng-if="sf.value && sf.value.length > 0" style="padding: 0px 5px;">
    <button class="os-btn-section-collapse os-btn-transparent" ng-click="sfCollapse=!sfCollapse">
      <span ng-if="!sfCollapse" class="fa fa-chevron-circle-down"></span>
      <span ng-if="sfCollapse" class="fa fa-chevron-circle-right"></span>
    </button>
    <h3 class="os-sub-section-title">
      <span>{{sf.caption}}</span>
    </h3>
    <div collapse="sfCollapse">
      <table class="os-table os-table-muted-hdr os-border">
        <thead class="os-table-head">
          <tr class="row">
            <th class="col" ng-repeat="field in sf.value[0].fields">
              <span>{{field.caption}}</span>
            </th>
          </tr>
        </thead>
        <tbody class="os-table-body">
          <tr class="row" ng-repeat="sfr in sf.value">
            <td class="col" ng-repeat="field in sfr.fields">
              <span ng-include src="'modules/biospecimen/extensions/field-value.html'"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script type="text/ng-template" id="modules/biospecimen/extensions/field-value.html">
  <span ng-if="!!field.value">
    <span ng-switch on="field.type">
      <span ng-switch-when="fileUpload" ng-init="file=field.value">
        <a href="{{filesUrl}}/{{file.fileId}}?contentType={{file.contentType}}&filename={{file.filename}}" target="_blank">
          {{file.filename}}
        </a>
      </span>
      <span ng-switch-when="datePicker">
        {{field.value | date: $root.global.dateTimeFmt}}
      </span>
      <span ng-switch-when="booleanCheckbox">
        {{field.value | osBoolValue : 'common.yes' : 'common.no' : 'common.not_specified'}}
      </span>
      <span ng-switch-default>
        {{field.value | osArrayJoin}}
      </span>
    </span>
  </span>
  <span ng-if="!field.value">
    <span translate="common.not_specified"></span>
  </span>
</script>
