
<div class="clearfix">
  <div class="col-xs-3">
    <div class="list-group">
      <div class="list-group-item os-section-hdr">
        <span translate="extensions.list">Forms</span>
      </div>

      <a class="list-group-item" ng-repeat="form in forms"
        ui-sref="{{extnState}}list({formCtxtId: form.formCtxtId, formId: form.formId, recordId: null})"
        ng-class="{'active': selectedForm.formId == form.formId}">
        <h5 class="list-group-item-heading">
          <span>{{form.formCaption}}</span>
        </h5>

        <p class="list-group-item-text" ng-if="form.records.length > 1">
          <span>{{form.records.length | number}}</span>
          <span translate="extensions.records_lc">records</span>
        </p>

        <span ng-if="form.records.length == 1">
          <p class="list-group-item-text">
            <span>{{form.records[0].user | osUserDisplayName}}</span>
          </p>
          <p class="list-group-item-text">
            <span>{{form.records[0].updateTime | date: global.dateTimeFmt}}</span>
          </p>
        </span>

        <p class="os-more-options" ng-switch on="form.records.length > 0">
          <span ng-switch-when="true" class="fa fa-circle os-status-collected"></span>
          <span ng-switch-when="false" class="fa fa-circle os-status-pending"></span>
        </p>
      </a>
    </div>
  </div>

  <div class="col-xs-9">
    <div ng-switch on="fctx.inited">
      <div ng-switch-when="true" ng-switch on="!!fctx.record">
        <div ng-switch-when="true">
          <div ng-include src="'modules/biospecimen/extensions/record.html'"></div>
        </div>
        <div ng-switch-default>
          <div ng-include src="'modules/biospecimen/extensions/records.html'"></div>
        </div>
      </div>
      <div ng-switch-default>
        <span translate="common.loading">Loading. Please wait for a moment...</span>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="modules/biospecimen/extensions/record.html">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span>Record #{{fctx.record.id}}</span>
      <span show-if-allowed="extnOpts" class="os-btns">
        <button class="btn btn-primary" ui-sref="{{extnState}}addedit({formId: selectedForm.formId,
          recordId: fctx.record.id, formCtxId: selectedForm.formCtxtId})">
          <span class="fa fa-pencil"></span>
          <span translate="common.buttons.edit"></span>
        </button>
        <button class="btn btn-danger" ng-click="deleteRecord(fctx.selectedRec, true)">
          <span class="fa fa-trash"></span>
          <span translate="common.buttons.delete"></span>
        </button>
        <button class="btn btn-default" ui-sref="{{extnState}}addedit({formId: selectedForm.formId,
          formCtxId: selectedForm.formCtxtId})" ng-if="selectedForm.multiRecord">
          <span class="fa fa-plus"></span>
          <span translate="common.buttons.add_another"></span>
        </button>
      </span>
    </div>
    <div class="panel-body">
      <os-form-data class="os-kv-vertical" data="fctx.record"></os-form-data>
    </div>
  </div>
</script>

<script type="text/ng-template" id="modules/biospecimen/extensions/records.html">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span>{{selectedForm.formCaption}}</span>
      <span translate="extensions.records">Records</span>
      <span show-if-allowed="extnOpts.update" class="os-btns"
        ng-if="extnOpts.isEntityActive && (selectedForm.multiRecord || selectedForm.records.length == 0)">
        <button class="btn btn-default"
          ui-sref="{{extnState}}addedit({formId: selectedForm.formId, formCtxId: selectedForm.formCtxtId})">
          <span class="fa fa-plus"></span>
          <span ng-if="selectedForm.records.length >= 1" translate="common.buttons.add_another"></span>
          <span ng-if="selectedForm.records.length == 0" translate="common.buttons.add"></span>
        </button>
      </span>
    </div>
    <div class="panel-body">
      <span ng-if="!selectedForm.records || selectedForm.records.length == 0" translate="extensions.no_records">
        No form records to show
      </span>
      <table class="os-table os-table-hover" ng-if="selectedForm.records.length > 0">
        <thead class="os-table-head">
          <tr class="row">
            <th class="col">
              <span translate="extensions.record">Record</span>
            </th>
            <th class="col">
              <span translate="extensions.updated_by">Updated By</span>
            </th>
            <th class="col">
              <span translate="extensions.update_time">Update Time</span>
            </th>
            <th class="col col-xs-1">
              <span>&nbsp;</span>
            </th>
          </tr>
        </thead>
        <tbody class="os-table-body">
          <tr class="row" ng-repeat="record in selectedForm.records" os-row-click="showRecord(record)">
            <td class="col">
              <a ui-sref="{{extnState}}list({formId: record.formId, recordId: record.recordId, formCtxtId: record.fcId})">
                <span>#{{record.recordId}}</span>
              </a>
            </td>
            <td class="col">
              <span>{{record.user | osUserDisplayName}}</span>
            </td>
            <td class="col">
              <span>{{record.updateTime | date: global.dateTimeFmt}}</span>
            </td>
            <td class="col col-xs-1 os-click-esc" ng-if="extnOpts.isEntityActive">
              <button show-if-allowed="extnOpts" class="btn btn-xs btn-default"
                ui-sref="{{extnState}}addedit({formId: record.formId, recordId: record.recordId, formCtxId: record.fcId})">
                <span class="fa fa-pencil"></span>
              </button>
              <button show-if-allowed="extnOpts" class="btn btn-xs btn-default" ng-click="deleteRecord(record)">
                <span class="fa fa-trash"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</script>
