<div>
  <div os-page-header>
    <div class="os-page-header-content">
      <h3>
        <span translate="dp.list">Distribution Protocols</span>
      </h3>
    </div>
    <div class="os-page-header-actions">
      <os-list-pager opts="pagerOpts"></os-list-pager>
    </div>
  </div>

  <div class="os-page-commands">
    <div class="left">
      <div ng-if="!ctx.checkList.anySelected">
        <div ng-include="'modules/administrative/dp/single-dp-ops.html'"></div>
      </div>

      <div ng-if="ctx.checkList.anySelected">
        <div ng-include="'modules/administrative/dp/bulk-dp-ops.html'"></div>
      </div>
    </div>

    <div class="right">
      <button class="default" os-right-drawer-toggle title="{{'dp.tooltip.search' | translate}}">
        <span class="fa fa-search"></span>
        <span translate="common.buttons.search">Search</span>
      </button>
    </div>
  </div>
  
  <div class="container">
    <table class="os-table os-table-hover">
      <thead class="os-table-head">
        <tr class="row">
          <th show-if-allowed="dpResource.deleteOpts" class="col os-click-esc">
            <div class="os-select-specimen-cb">
              <os-checkbox ng-change="ctx.checkList.toggleSelectAll()" ng-model="ctx.checkList.allSelected">
              </os-checkbox>
            </div>
          </th>
          <th class="col">
            <span translate="dp.short_title">Short Title</span>
          </th>
          <th class="col os-desc-column">
            <span translate="dp.title">Title</span>
          </th>
          <th class="col">
            <span translate="dp.pi">Principal Investigator</span>
          </th>
          <th class="col">
            <span translate="dp.start_date">Start Date</span>
          </th>
          <th class="col">
            <span translate="dp.dist_spmns_count">Distributed Specimens</span>
          </th>
        </tr>
      </thead>
      <tbody class="os-table-body">
        <tr class="row" ng-repeat="dp in distributionProtocols" os-row-click="showDpOverview(dp)">
          <td show-if-allowed="dpResource.deleteOpts" class="col os-click-esc">
            <div class="os-select-specimen-cb">
              <os-checkbox ng-change="ctx.checkList.toggleSelectItem($index)"
                ng-model="ctx.checkList.items[$index].selected">
              </os-checkbox>
            </div>
          </td>
          <td class="col">
            <a ui-sref="dp-detail.overview({dpId: dp.id})">
              <span>{{dp.shortTitle}}</span>
            </a>
          </td>
          <td class="col">
            <a ui-sref="dp-detail.overview({dpId: dp.id})">
              <span>{{dp.title}}</span>
            </a>
          </td>
          <td class="col">
            <span>{{dp.principalInvestigator | osUserDisplayName}}</span>
          </td>
          <td class="col">
            <span>{{dp.startDate | date : global.dateFmt}}</span>
          </td>
          <td class="col">
            <span>{{dp.distributedSpecimensCount || 0 | number: 0}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div os-right-drawer ng-include="'modules/administrative/dp/search.html'"></div>

</div>

<script type="text/ng-template" id="modules/administrative/dp/single-dp-ops.html">
  <div>
    <button show-if-allowed="dpResource.createOpts" class="default"
      title="{{'dp.tooltip.add' | translate}}" ui-sref="dp-addedit({dpId: ''})">
      <span class="fa fa-plus"></span>
      <span translate="common.buttons.create">Create</span>
    </button>

    <os-help class="os-btns btn default" link="dp_help_link"></os-help>
  </div>
</script>

<script type="text/ng-template" id="modules/administrative/dp/bulk-dp-ops.html">
  <div>
    <button class="default" title="{{'dp.tooltip.delete_dps' | translate}}" ng-click="deleteDps()">
      <span class="fa fa-trash"></span>
      <span translate="common.buttons.delete">Delete</span>
    </button>
  </div>
</script>
