<?xml version="1.0" encoding="UTF-8"?>
<databaseChangeLog
  xmlns="http://www.liquibase.org/xml/ns/dbchangelog"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.liquibase.org/xml/ns/dbchangelog
  http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-3.1.xsd">

  <changeSet author="mdnasim" id="Config property to enable/disable storing PHI data">
    <sql>
      call add_cfg_prop(
        'biospecimen', 'store_phi',
        'store_phi', 'store_phi_desc',
        'BOOLEAN', 'true'
      );
    </sql>
  </changeSet>
</databaseChangeLog>
