
<os-specimen-ops specimens="listViewCtx.ctrl.getSelectedSpecimens()" init-list="listViewCtx.ctrl.loadSpecimens()"
  resource-opts="ctx.resourceOpts">
</os-specimen-ops>

<os-assign-to-spmn-list menu-align="left" on-add-to-list="listViewCtx.ctrl.addSpecimensToList(list)">
</os-assign-to-spmn-list>

<button class="default" ui-sref="participant-list({cpId: cp.id})" ng-if="!cp.specimenCentric">
  <span class="fa fa-group"></span>
  <span translate="cp.view_participants">View Participants</span>
</button>

<button class="default" ui-sref="specimen-addedit({cpId: cp.id, visitId: -1, cprId: -1})" ng-if="cp.specimenCentric">
  <span class="fa fa-plus"></span>
  <span translate="specimens.buttons.add_specimen">Add Specimen</span>
</button>
