<div>
  <div class="os-head">
    <h3 class="os-title">
      <span translate="list_pager.recs_to_display">Records to Display</span>
    </h3>
  </div>

  <div class="os-body">
    <label class="radio-inline">
      <input type="radio" name="pageSize" ng-checked="opts.recordsPerPage == 100" ng-click="pageSizeChanged(100)">
      <span translate="list_pager.hundred">100</span>
    </label>
    <label class="radio-inline">
      <input type="radio" name="pageSize" ng-checked="opts.recordsPerPage == 200" ng-click="pageSizeChanged(200)">
      <span translate="list_pager.two_hundred">200</span>
    </label>
    <label class="radio-inline">
      <input type="radio" name="pageSize" ng-checked="opts.recordsPerPage == 500" ng-click="pageSizeChanged(500)">
      <span translate="list_pager.five_hundred">500</span>
    </label>
  </div>
</div>
