<?xml version="1.0" encoding="UTF-8"?>
<databaseChangeLog
  xmlns="http://www.liquibase.org/xml/ns/dbchangelog"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.liquibase.org/xml/ns/dbchangelog
  http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-3.1.xsd">

  <changeSet author="mdnasim" id="Setting to enable or disable user sign up request">
    <sql>
      call add_cfg_prop(
        'administrative', 'user_sign_up',
        'user_sign_up', 'user_sign_up_desc',
        'BOOLEAN', 'true'
      );
    </sql>
  </changeSet>

  <changeSet author="mdnasim" id="Setting to enable or disable forgot password link">
    <sql>
      call add_cfg_prop(
        'auth', 'forgot_password',
        'forgot_password', 'forgot_password_desc',
        'BOOLEAN', 'true'
      );
    </sql>
  </changeSet>
</databaseChangeLog>
